<ion-header>
        <img alt="logo" class="img-responsive1 "   src="assets/umd_logo.jpg" > 
        <img alt="logo" class="img-responsive2 "  src="assets/flagship_logo.png" >
      </ion-header>

<ion-content class="ion-padding">

<ion-card>
        <ion-card-header>
         <ion-card-title dir="rtl"></ion-card-title>
        </ion-card-header>
        <ion-card-content>
                <ion-grid [fixed]="true">
                        <ion-row >
                                        <ion-text color="dark" justify-content-center>
                                                <h1>Persian Flagship Learner’s Dictionary</h1>
                                        </ion-text>
                        </ion-row>
                        <br>
                        <ion-row>
                          <ion-col>
                            <p>
                                       
                                <i>The Persian Flagship Learner’s Dictionary</i> has been developed through the generous support of the Language Flagship at the University 
                                     of Maryland’s <a href="http://www.globalprofessionals.umd.edu/pfp-about-our-program" target="_blank">Persian Flagship Program</a> under the supervision 
                                     of Dr. Ali R. Abasi, with technical assistance and support from 
                                     Dr. Aitor Arronte Alvarez of the <a href="https://thelanguageflagship.tech/" target="_blank">Language Flagship Technology Innovation Center</a>.     
                            </p>
                            <br>
                            <p><a href="https://www.thelanguageflagship.org/"  target="_blank">The Language Flagship</a> is a public/private partnership sponsored by the National Security Education Program (NSEP) 
                                    of the Department of Defense and administered by the <a href="https://www.iie.org/" target="_blank">Institute of International Education (IIE)</a>. The contents of 
                                    this webapp do not necessarily reflect the position or policy of the government or IIE and no official Government or IIE endorsement should be inferred.
                        </p>
                        <br>
                        <p>
                                <i>The Persian Flagship Learner’s Dictionary</i> covers nearly all the vocabulary items that beginner and intermediate learners of Persian are likely to encounter 
                                across various commonly used textbooks currently available on the market. It is a practical learning tool, subject to continual revision and expansion. 
                                Questions and comments should be addressed to <a href="mailto:persian@umd.edu">persian@umd.edu</a>.

                        </p>
                        <br>
                        <p>
                                Many thanks to the University of Maryland students for their valuable suggestions, as well as to Ms. Elahe Amiri, Ms. Sayeh Solour, 
                                Ms. Bahar Jalehmahmoodi, and Ms. Manizhe Galledari for their important contributions to the project. 
                        </p>
                          </ion-col>
                          <ion-col class="toRight">
                            <p >
                                <img height="55%" src="assets/home1.png">
                               <a href="/home"><ion-button expand="block" fill="outline">START HERE</ion-button></a>
                            </p>
                          </ion-col>
                          
                        </ion-row>
                      </ion-grid>
          </ion-card-content>
          
        </ion-card>
</ion-content>        