<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img alt="logo" class="img-responsive1 "   src="assets/umd_logo.jpg" > 
        <img alt="logo" class="img-responsive2 "  src="assets/flagship_logo.png" >
      </ion-title>
    <ion-title dir="rtl"><strong>فرهنگ زبان آموز فارسی</strong></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      
      <ion-title>About</ion-title>
    </ion-toolbar>
    

  </ion-header>

  <ion-card>
    <ion-card-content  dir="rtl" textwrap>
      <i>فرهنگ زبان آموز فارسی دانشگاه مریلند </i> به عنوان ابزاری صرفاً کمک آموزشی  دربردارنده  بیشتر واژگانی است که فارسی آموزان در سطح های پایه و میانی معمولاً با آنها برخورد می کنند.  کوشش خواهیم کرد  پیوسته دایره واژگان آن را گسترش داده و کاستی های آن را برطرف کنیم. با پیشنهادات خود  به آدرس persian@umd.edu  ما را یاری دهید.  
 

    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-content>
    <i>The Persian Flagship Learner’s Dictionary</i> covers most of the vocabulary items that beginner and intermediate learners of Persian are likely to encounter across various commonly used textbooks currently available on the market. It is a practical learning tool, subject to continual revision and expansion.
  
  </ion-card-content>
  </ion-card>

</ion-content>
