ion-card-content{
    font-size: 20px;
    color: #262626;
    }

    .img-responsive1{
        float: right;
        margin: 0 0 35px 0; 
        height: auto;
      }
      
      .img-responsive2{
        float: left;
        margin: 0 0 0 35px; 
        padding-top: 1em;
        height: auto;
      }      